html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom, #3d72b4, #87ceeb);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#chat-container-header {
    margin-top: 50px;
}

#header {
    font-family: 'Georgia', cursive;
    font-size: 3em;
    text-align: center; 
}

#chat-container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff2e;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

#chat-header {
    text-align: center;
    margin-bottom: 20px;
}

#chat-messages {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#user-input {
    display: flex;
    justify-content: space-between;
}

#user-input input {
    width: 85%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#user-input button {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.message {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}

.message.left {
    background-color: #60a0e5c0;
    text-align: left;
    align-self: flex-start;
}

.message.right {
    background-color: #49a85f;
    text-align: right;
    align-self: flex-start;
    margin-left: auto;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}